<!-- From Uiverse.io by nathann09 -->


<form class="form" (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
  <p class="form-title">Create your account</p>

  <div class="input-container">
    <input type="text" placeholder="First name" name="firstName" [(ngModel)]="firstName" required>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Last name" name="lastName" [(ngModel)]="lastName" required>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Username" name="username" [(ngModel)]="username" required>
  </div>
  <div class="input-container">
    <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required minlength="6">
  </div>

  <button type="submit" class="submit" [disabled]="registerForm.invalid || loading">
    {{ loading ? 'Registering...' : 'Sign up' }}
  </button>

  <p class="signup-link">
    Already have an account? <a routerLink="/login">Sign in</a>
  </p>
  <p style="text-align:center; color:red">{{message}}</p>
</form>

